{% extends 'skeleton.html' %}

{% block title %} User login {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div>You are already logged in, {{ user.username }}. Go to your account or logout.</div>
    <s>{{ login_status_mesg }}</s>
{% else %}


    {% if form.errors %}
    {% for e in form.errors.values %}
    {{e}}
    {% endfor %}
    {% endif %}

    <div id="login_form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}

            <div id="id_username">
                <label for="id_username">Username</label>
                {{ form.username }}
            </div>

            <div id="id_username">
                <label for="id_password">Password</label>
                {{ form.password }} 
            </div>
            
            <div id="id_submit_row">
                {% comment %}
                <input type="checkbox" id="id_remember" />
                <label for="id_remember">Remember me?</label>
                {% endcomment %}
                <div id="id_submit_button">
                    <input id="id_submit" type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>

{% endif %}
{% endblock %}

