<!DOCTYPE html>

<html lang="en">
<!-- 
    DATE: 11/05/2021
    NAME: Takahiro Suzuki
    This is an index page of book renting selling web site.
 -->
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'takhtml/style' %}" />
    <title>Book.index</title>
</head>

<body>
    <!-- Header TOP -->
    <div id="header">
        {% include 'takhtml/header2.html' %}
    </div>
    <!-- Header END -->

    <!-- NAV BAR TOP-->
    <div id="nav">
        {% include 'takhtml/navbar2.html' %}
    </div>
    <!-- NAV BAR END -->


    <!-- Main_body TOP -->
    <div id="main_body">
        <h1>Welcome to Library for You!</h1>
        <!-- main_txt  TOP-->
        <div id="main_txt">
            <div id="discription">
                
                <p>In this library there's all kinds of things you can do!</p>

                <p>List out thing user can do.</p>
            </div>

            <hr>

            <div id="content">
                <h2>Bruh bruh bruh</h2>
                <p>test test test</p>
            </div>
        </div>
        <!-- main_txt  END -->
        

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <a href="#logo">to Top</a>
        <p>copyright&copy;2021</p>

    </div>
    <!-- Main_body END -->

</body>
</html>