{% extends 'skeleton.html' %}

{% block title %} Create Collection {% endblock %}

{% block content %}
    {% if errors %}
        <ul>
        {% for error in errors %}
            <li>{{error|safe}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if user.is_authenticated %}
    
        <div class="c_container">
        <form action="{% url 'submitcollection' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Create Collection">
            
        </form>
    </div>

    {% endif %}

{% endblock %}