{% extends 'skeleton.html' %}

{% block title %} {{ book.title }} {% endblock %}

{% block content %}
<style>
    #content {
        bottom: 40px;
    }
</style>
{% if book %}
    {% load static %}
    <img class="book_cover_main" id="book_cover" src="{% get_media_prefix %}{{book.cover_image}}" />

    Title: {{ book.title }} <br />
    Author: {{ book.author }} <br />
    isbn: {{book.ISBN|default:"N/A" }}<br />

    {% if user.is_authenticated and not user_owns_book %}
        <div class="purchase_section">
        <div class="purchase">Purchase Book: {{ book.price|default_if_none:"Unavailable"|default:"Free!" }}</div>
        </div>
        <div class="book_description"> {{ book.description }} </div>
    {% elif True %}
        <div>
        </div>
    {% endif %}

{% elif errors %}
    {{ errors|safe }}
{% else  %}
    Please select a book via the home, search, or browse pages.

{% endif %}

{% endblock %}
