{% extends 'skeleton.html' %}

{% block title %} {{ book.title }} {% endblock %}

{% block content %}
{% if book %}
    <div class="bk_content">
    {% load static %}
    {% if book.cover_image %}
        <img class="bk_cover_main" id="book_cover" src="{% get_media_prefix %}{{book.cover_image}}" />
    {% else %}
        <img class="bk_cover_main" id="book_cover" src="{% static 'nocover.png' %}" />
    {% endif %}
    
    <div class="bk_data">

    <div class="bk_title">{{ book.title }} </div>
    <div class="bk_author">by {{ book.author }}</div>
    <div class="bk_isbn">{{book.ISBN|default:"N/A" }}</div>

    {% if user.is_authenticated and not user_owns_book %}
        <div class="bk_purchase_section">
        <div class="bk_purchase">Purchase Book:
            {% if book.price != None %}
                <a href="{% url 'purchase' book.id %}">
            {%endif%}
            {{ book.price|default_if_none:"Unavailable"|default:"Free!" }}</div>
            {% if book.price != None %}
                </a>
            {%endif%}
        </div>

            {% include 'snippets/chapterbuy.html' %}

        <div class="bk_description"> {{ book.description }} </div>
        
    {% elif user.is_authenticated and user_owns_book %}
        <div class="bk_download"> 
            <a href="{% url 'downloads' book.id %}">[[DOWNLOAD]]</a>
        </div>
    {% endif %}

    </div>
</div>
{% elif errors %}
    {{ errors|safe }}
{% else  %}
    Please select a book via the home, search, or browse pages.

{% endif %}

{% endblock %}
