<ul>
    <li><a href="{% url 'index' %}"> Home</a></li>
    <li><a href="{% url 'browse' %}">Browse all books</a></li>
    <li><a href="{% url 'search' %}">Search Books</a></li>
    <hr class="nav">
    {% if user.is_authenticated %}
        <li><a href="{% url 'mybooks' %}">My Books</li>
        <li><a href="{% url 'mycollections' %}">My Collections</li>
        <li><a href="{% url 'addcollection' %}">Create Collections</li>
        {% if user.is_superuser %}
            <li><a href="{% url 'admin:index' %}">Administration page</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}">Logout [{{ user.username }}]</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login<a></li>
    {% endif %}
</ul>