#navbar {
   color:blueviolet; 
   min-width: 150px;
   max-width: 250px;
   border-right: brown ridge 3px;
   float: left;
   height: 100%;

}

/* Main body of page */
#content {
   width: 90%;
   float: right;
   position: relative;
   padding-left: 20px;
}

body {
   background: lightyellow;
}

form > p > label {
   display: block;
   margin-bottom: 5px;
}

form > div > label {
   display: inline-block;
   margin-bottom: 10px;
   text-align: left;
   font-size: 0.8em;
   min-width: 50px;
}

#id_submit_row {
   display: table;
}

form > div > #id_remember {
   display: table-cell;
}

form > div > #id_submit_button {
   display: table-cell;
   text-align: right;
}


/* Example of form using as_p */
#any_form > p > label {
   display: inline-block;
   width: 200px;
}


/**
*
* Book, Results
*
**/

img.book_cover_main {
   
   width: auto; 
   height: 500px;
   max-width: 300px;
   max-height: 500px;
}

/**
*
* Logo
*
**/
#logo_title {
	padding-bottom: 1vw;
}

#logoimg {

  width: 80px;
  display: inline;
  margin-left: -10vw;
}